body {
    background-color: #EDF6E9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

h1 {
    color: black;
    text-align: center;
}

.pokeday {
    grid-area: 1 / 2 / 4 / 5; 
}

.container{
    grid-area: 1 / 2 / 4 / 5;
    text-align: center;
}