body {
    background-color: #f4f2f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    margin: 1% 0 1% 0;
    align-items: center;
    height: 10%;
}

header h1 {
    color: #4B376F;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.date-pick {
    border: 5px solid black;
    border-radius: 10px;
    padding: 3%;
    margin: 10% 0 10% 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 70%;
}

a.button {
    padding: 3%;
    margin: 3%;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: #f6f5f7;
    background-color: #08AECA;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    width: 100%;
}

.card {
    color: #4B376F;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.card img {
    width: 70%;
}

.card h3 {
    font-weight: bold;
    text-transform: capitalize;
    margin: 10% 0 0 0;
}

.card p {
    font-weight: bold;
    text-transform: capitalize;
}

.card .info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    header h1 {
        font-size: 25px;
    }

    .subtitle {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .date-pick {
        border: 5px solid black;
        padding: 1%;
        margin: 1%;
        font-size: 20px;
        width: 20%;
    }

    a.button {
        padding: 1%;
        margin: 1%;
        width: 50%;
    }

    .card {
        font-size: 25px;
    }

    .card img {
        width: 20%;
    }

    .card h3 {
        margin: 2% 0 0 0;
    }

    .card p {
        margin: 1% 0 0 0;
    }
    .card .info {
       font-size: 20px;
    }
}